
@{
    ViewBag.Title = "Contact";
}
<section class="jumbotron container">
    <div class="content-size-l">
        <div class="flex-col stage type-3 color-1 ">
            <div class="col stage-wrapper">
                <div class="stage-text">
                    <h1>
                        Get in touch with us!
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="offset-2">Comment Here</h3>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="First Name" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="Last Name" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="Company Name" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="Phone Number" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="Email Address" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <input value="" placeholder="Enter Your Comment" name="" type="text" class="col-md-6" />
                </div>

            </div>
            <div class="col-md-12">

                <div class="row mb-2">
                    <div class="col-md-6 offset-2">
                        <button class="btn alert-success btn-lg">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">

</div>


