@model IEnumerable<MVC_ecommerceProject.Models.InputModel.Order>
@{
    ViewBag.Title = "Orders";
}
<div style="margin-top:80px;" class="container">
    <h1>Order List</h1>
    <table class="table table-bordered table-striped">
        <thead class="alert-info">
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Order Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ord in Model)
            {
                <tr>
                    <td>@ord.OrderId</td>
                    <td>@ord.OrderDate</td>
                    <td>@ord.OrderNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

